/* UNIVERSAL STYLES */
html {
    font-family: Helvetica;
    font-size: 18px;
}

body {
  line-height: 1.4;
}

.full-width {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.white {
  color: white;
}

.bg-color {
  background-color: cadetblue;
}

.bold {
  font-weight: bold;
}

/* TOP SECTION STYLES */
.top-section {
  height: 30rem;
  background-image: url("../media/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: relative;
  top: 1rem;
}

header,
.logo,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
nav {
  padding: 1rem 0;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 14rem;
}

.slogan h1 {
  width: 35rem;
  background-color: white;
  padding: 2rem 0;
  position: relative;
  left: 2rem;
  font-size: 2rem;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTTOM SECTION STYLES */
.bottom-section {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.services,
.info {
  display: flex;
  justify-content: center;
}

.services {
  padding-bottom: 3rem;
}

.service {
  width: 5rem;
  height: 8rem;
  /* overflow: hidden; */
  margin: 0 4rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.service img {
  width: 3.5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.info-piece {
  width: 35%;
}

.info-piece h3 {
  text-align: center;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.info .philosophy {
  margin-right: 5%;
}

/* FOOTER STYLES */
.copyright {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem;
}

.copyright img {
  height: 1.5rem;
  margin-right: 1rem;
}
