/* UNIVERSAL STYLES */
html {
    font-family: Helvetica;
    font-size: 18px;
}

body {
  line-height: 1.4;
}

.full-width {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.white {
  color: white;
}

.bg-color {
  background-color: cadetblue;
}

.bold {
  font-weight: bold;
}

/* TOP SECTION STYLES */
.top-section {
  height: 30rem;
  background-image: url("../media/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: relative;
  top: 1rem;
}

header,
.logo,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
nav {
  padding: 1rem 0;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

nav .small-screen {
  display: none;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 14rem;
}

.slogan h1 {
  width: 35rem;
  background-color: white;
  padding: 2rem 0;
  position: relative;
  left: 2rem;
  font-size: 2rem;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTTOM SECTION STYLES */
.bottom-section {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.services,
.info {
  display: flex;
  justify-content: center;
}

.services {
  padding-bottom: 3rem;
}

.service {
  width: 5rem;
  height: 8rem;
  /* overflow: hidden; */
  margin: 0 4rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.service img {
  width: 3.5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.info-piece {
  width: 35%;
}

.info-piece h3 {
  text-align: center;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.info .philosophy {
  margin-right: 5%;
}

/* FOOTER STYLES */
.copyright {
  background-color: azure;
  display: flex;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  padding: 4rem 4rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }

  .top-section {
    height: 22rem;
    background-position: 35%;
  }

  header {
    position: static;
  }

  .slogan {
    top: 8rem;
  }

  .slogan h1 {
    left: -2rem;
    font-size: 1.33rem;
    width:auto;
    padding: 1.15rem 4rem;
  }
}

@media only screen and (max-width: 680px) {
  .top-section {
    height: 17rem;
    background-position: 20%;
  }

  .logo span {
    display: none;
  }

  nav li {
    display: none;
  }

  nav .small-screen {
    display: inline;
  }

  .slogan {
    width: 100%;
    top: 9rem;
  }

  .slogan h1 {
    left: 0;
    font-size: 1rem;
    width: 100%;
    padding: 0.75rem 0;
  }

  .bottom-section {
    margin: 0;
    font-size: 0.77rem;
  }

  .services,
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services {
    padding: 0;
    margin: 3.77rem 0;
  }

  .service {
    height: auto;
  }

  .service img {
    padding-bottom: 0.7rem;
  }

  .ser-2 {
    margin: 1.54rem auto;
  }

  .info-piece {
    width: 100%;
    margin-bottom: 4rem;
  }

  .info .philosophy {
    margin-right: 0;
  }

  .info-piece h3 {
    font-size: 1rem;
  }

  .info-piece p {
    margin: 0 auto;
    width: 70%;
  }

  .copyright img {
    padding: 4rem 0;
    margin: 0 auto;
  }

  .copyright span {
    display: none;
  }
}
